<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"

>

<!-- content fragment 사용 -->
        <div layout:fragment="content" class="container-fluid px-4" >
            <h1 class="mt-4">뉴미디어사업본부</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>

            <div class="card mb-4">
                <!--project list table-->
                <th:block th:insert="fragments/table/projectTable :: projectTable"></th:block>
                <!--member list table-->
                <th:block th:insert="fragments/table/memberTable :: memberTable"></th:block>

                <div class="row">
                    <!-- area chart-->
                    <th:block th:replace="fragments/chart/areaChart :: areaChart"></th:block>
                    <!--bar chart-->
                    <th:block th:replace="fragments/chart/barChart :: barChart"></th:block>
                </div>
            </div>
        </div>
</html>