<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ChartMapper">

    <select id="getLineChart" resultType="java.util.Map">
        SELECT m.name as label, GROUP_CONCAT(lc.importance ORDER BY lc.chart_date SEPARATOR ',') AS data
        FROM LineChart lc
                 JOIN Member m ON lc.m_num = m.m_num
        WHERE lc.chart_date BETWEEN DATE_SUB(#{date}, INTERVAL 14 DAY) AND #{date}
        GROUP BY lc.m_num;
    </select>

    <select id="getDate" resultType="java.util.Date">

        SELECT distinct chart_date
        FROM LineChart lc
        where lc.chart_date between DATE_SUB(#{date},INTERVAL 14 day) and #{date}
        ORDER BY chart_date
    </select>

    <select id="getImportanceName" resultType="java.util.Map">
        SELECT m.name as label, lc.importance as data
        FROM Member m
        LEFT JOIN LineChart lc ON lc.m_num = m.m_num
        WHERE lc.chart_date BETWEEN DATE_SUB(#{date}, INTERVAL 14 DAY) AND #{date}
        ORDER BY lc.chart_date;
    </select>

<!--    <select id="getLineChart" resultType="com.hr.domain.LineChart">-->
<!--        SELECT *-->
<!--        FROM LineChart-->
<!--        where chart_date between DATE_SUB((current_date),INTERVAL 7 day) and (current_date)-->
<!--    </select>-->
</mapper>