<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ProjectMapper">
    <select id="findAllProjects" resultType="com.hr.domain.Project">
        select * from Project
    </select>

    <select id="findProjectByProjName" resultType="com.hr.domain.Project">
        select * from Project where proj_name = #{proj_name}
    </select>

    <select id="findProjectByProjId" resultType="com.hr.domain.Project">
        select * from Project where proj_id = #{proj_id}
    </select>
    
    <insert id="addProject">
        insert into Project (proj_name, start_date,end_date)
        values (#{proj_name}, #{start_date},#{end_date})
    </insert>

    <select id="findAllProjectMembers" resultType="java.util.Map">
        select
            pm.importance,
            p.proj_name,
            m.name
        from
            ProjectMember pm
                LEFT JOIN
            Member m ON pm.m_num = m.m_num
                LEFT JOIN
            Project p ON pm.proj_id = p.proj_id
        order by importance asc
    </select>

    <select id="findProjectLeader" resultType="java.util.Map">
        SELECT
            p.proj_id,
            CASE WHEN pm.importance = 100 THEN m.name ELSE "" END AS name
        FROM
            Project p
                LEFT JOIN
            ProjectMember pm ON p.proj_id = pm.proj_id AND pm.importance = 100
                LEFT JOIN
            Member m ON pm.m_num = m.m_num
    </select>

    <select id="findMembersEachProj" resultType="java.util.Map">
        SELECT
            p.proj_id,
            p.start_date,
            p.proj_name,
            m.name,
            pm.importance
        FROM
            Project p
                JOIN
            ProjectMember pm ON p.proj_id = pm.proj_id
                JOIN
            Member m ON pm.m_num = m.m_num
        ORDER BY
            pm.importance ASC;
    </select>

    <insert id="addProjectMember">
        insert into ProjectMember (proj_id,m_num,importance)
        values (#{proj_id},#{m_num},#{importance})
    </insert>

    <delete id="deleteProject">
        delete from Project
        where proj_id = #{proj_id}
    </delete>

    <select id="findProjMemberByProjId" resultType="java.util.Map">
        select
            m.name,
            pm.m_num,
            p.proj_name,
            pm.importance
        from ProjectMember pm
        LEFT JOIN Member m ON m.m_num = pm.m_num
        LEFT JOIN Project p ON p.proj_id = pm.proj_id
        where pm.proj_id = #{proj_id}
    </select>

    <update id="updateProject">
        update Project
        set proj_name = #{proj_name}, start_date = #{start_date}, end_date=#{end_date}
        where proj_id = #{proj_id}
    </update>

    <delete id="deleteProjectMember">
        delete from ProjectMember
        where proj_id = #{proj_id}

    </delete>
</mapper>