*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0 auto;
    width: 80%;
    height: 700px;
    background-color: green;
}
.header{
    margin: 0 auto;
    width: 80%;
    height: 100px;
    background-color: aqua;
}